style
    include order.css

     



ul#headerUL
    li 
        a#header(href="/") Home page
    li 
        a#header(href="/users") Users page                  
    li
        a#header(href="/order") Order form                  
    li
        a#header(href="/users/"+user._id) View your profile                 
    li
        a#header(href="/logout") Log out form    
