html 
    head 
        include Header_loggedOut
          
    body#main 
        
    p#u Username
    input#user(type='text' name='user') 
    br
    br
    p#u Password
    input#pass(type='text' name='pass')
    br
    br
    input#submit(type='button' value='Submit')
     
    script(src="client.js")