html 
        
    
    body 
    if(user.loggedIn==true)
        include Header_loggedIn 
    else  
        include Header_loggedOut 
    img(src='pony.jpg', style='width:100%;height:100%;')
    div#welcome Welcome to the Prancing Pony Restaurant API
        